#display {
    display: block;
    height: 50px;
    width: 355px;
    border: 1px solid #ffffff;
    border-radius: 2px;
    margin: auto;
    text-align: right;
    padding: 10px;
    margin: auto;
    font-size: 24px;
    color: #f7b267;
    background-color: white;
    font-family: 'Inter', sans-serif;
}

#calc {
    display: block;
    position: relative;
    top: 70px;
    height: 440px;
    width: 400px;
    margin: auto;
    padding: 50px 10px 40px 10px;
    border: 1px solid #f1f1f1;
    background-color: #f1f1f1;
}

#button {
    width: 400px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(5, 80px);
    }

#equals {
    grid-area: 5 / 3 / 6 / 5;
    background-color: #f71735;
}

#add,
#subtract,
#multiply,
#divide {
    background-color: #41ead4;
}

#clear,
#backspace {
    background-color: #ff9f1c;
}

button {
    margin: 15px;
    border: transparent;
    color: white;
    background-color: #8c9fb1;
    font-family: 'Inter', sans-serif;
}